@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .nav__link{
        @apply relative text-xl w-fit block after:block after:content-[''] font-semibold after:absolute after:h-[3px] 
        after:bg-yellow-400 text-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300
        after:origin-right
    }
    .button__cls{
        @apply md:px-12 md:py-2.5 px-6 py-1.5 text-white font-semibold  text-sm md:text-lg  transition-all duration-200 rounded-lg
    }
    .footer__heading{
        @apply text-lg text-white font-bold mb-4 
    }
    .footer__link
    {
        @apply text-sm text-white hover:text-green-700 cursor-pointer text-opacity-60 mb-3 w-fit
    }

    @keyframes gradient {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }

    .animate-gradient {
        background-size: 300% 300%;
        animation: gradient 8s ease infinite;
    }

    @keyframes float {
        0% { transform: translateY(0px); }
        50% { transform: translateY(-10px); }
        100% { transform: translateY(0px); }
    }
    .animate-float {
        animation: float 4s ease-in-out infinite;
    }

}